---
import { Icon } from 'astro-icon/components';
---

<div
  id='btnScrollToTop'
  class='top'
  title='Back to Top'
  aria-label='Back to Top'
  role='button'
  tabindex='0'
>
  <Icon name='fa7-solid:chevron-up' size='18' class='nav__icon nav__icon-search' />
</div>
